@font-face {
  font-family: arcadefont;
  src: url(./assets/arcadeFontFiles/PressStart2P-vaV7.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: arcadefont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
